<h1>Task Detail</h1>

<div class="container">
	<div class="row imagediv">
		<%= form_for(@task, :remote => true) do |f| %>
		<%= f.hidden_field :assignmentId, :value => @assignment %>
		<div class="span6">
			<%= puts @imagelocation %>
			<%= link_to image_tag(@imagelocation), @imagelocation,
			onclick: "window.open (@imagelocation, 'Image','width=600,height=600')" %>
		</div>
		<div class="span4">
			<div class="output">
				<%= f.text_area :output, placeholder: "your work.."%>
			</div>
		</div>
	</div>
</div>
<%= f.submit "Post", class: "btn btn-large btn-primary"%>
		<%end%>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
