<h1>Task Detail</h1>

<div class="container">
	<div class="row imagediv">
		<%= form_for(@task, :url => "http://workersandbox.mturk.com/mturk/externalSubmit", :remote = true, :method => "post", :authenticity_token => false) do |f| %>
		<%= hidden_field_tag :assignmentId, @assignment %>
		<div class="span6">
			<%= puts @imagelocation %>
			<%= link_to image_tag(@imagelocation), @imagelocation,
			onclick: "window.open (@imagelocation, 'Image','width=600,height=600')" %>
		</div>
		<div class="span4">
			<div class="output">
				<%= text_area_tag :output, placeholder: "your work.."%>
			</div>
		</div>
	</div>
</div>
<%= f.submit "Done", class: "btn btn-large btn-primary"%>
		<%end%>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
