<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span10">
          <header class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
              <nav>
                <%= link_to image_tag("72.png", alt: "Ximly") %>
                <ul class="nav pull-right">
                  <li><%= link_to "Home",    '#' %></li>
                  <li><%= link_to "Help",    '#' %></li>
                  <li><%= link_to "Sign out", '/users/sign_out', :method => :delete %></li>
                </ul>
              </nav>
            </div>
                  </header>

          </div>
        </div>

    </div>
    <div class="container-fluid">
     <div class="row-fluid">
      <div class="span2"></div>
      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>